// .card {
//     position: relative;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     min-width: 0;
//     word-wrap: break-word;
//     background-color: #fff;
//     background-clip: border-box;
//     border: 1px solid rgba(0, 0, 0, 0.125);
//     border-radius: 0.25rem;
// }

.card p {
    margin-top: 1.5rem;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

// .card-body {
//     -webkit-box-flex: 1;
//     -ms-flex: 1 1 auto;
//     flex: 1 1 auto;
//     padding: 1rem 1rem;
// }
// .p-0 {
//     padding: 0 !important;
// }

.card-title-custom {
    // font-family: Verdana;
    background-color: #336699;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4%;
    color: #fff;
    margin: 0;
}

.card-title-custom .h5 {
    font-size: 1.25rem;
}
.card-text:last-child {
    margin-bottom: 0;
}

.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a.text-secondary {
    color: #494f54 !important;
    text-decoration: underline;
}

a.text-secondary:focus,
a.text-secondary:hover {
    color: #494f54 !important;
    text-decoration: underline;
}
